Repository uprm-inso4117-2024-2025-s2/semester-project-petfinder, pull requests merged in 2025-04, with the labels that each got.

#224 Controllers for DB tables
  controllers/foundreportscontroller.js
  controllers/lostreportscontroller.js
  controllers/notificationscontroller.js
  controllers/petscontroller.js
  controllers/sightingscontroller.js
  controllers/userscontroller.js
Labels: Backend and Infrastructure Team

#277 Added basic map performance test. To be expanded.
  Pet-Finder/__test__/MapScreen.test.tsx
  Pet-Finder/node_modules/.package-lock.json
  Pet-Finder/package-lock.json
  Pet-Finder/package.json
Labels: Interactive Map Team

#312 Testing Sort functions
  Pet-Finder/__test__/sortUtils.test.ts
  Pet-Finder/app/(tabs)/MapScreen.tsx
  Pet-Finder/package-lock.json
  Pet-Finder/package.json
  Pet-Finder/utils/sortUtils.ts
Labels: Interactive Map Team

#259 Created load tests for the Map Screen's data filtering function and map marker placement
  Pet-Finder/app/(tabs)/MapScreen.tsx
  Pet-Finder/components/MockData.ts
  Pet-Finder/components/__tests__/MapScreen-test.tsx
  Pet-Finder/package-lock.json
  Pet-Finder/package.json
Labels: Interactive Map Team

#328 Acceptance and Mutation testing for report screen
  Pet-Finder/app/(tabs)/ReportScreen.tsx
  Pet-Finder/node_modules/.bin/acorn
  Pet-Finder/node_modules/.bin/browserslist
  Pet-Finder/node_modules/.bin/create-jest
  Pet-Finder/node_modules/.bin/detect-libc
  Pet-Finder/node_modules/.bin/escodegen
  Pet-Finder/node_modules/.bin/esgenerate
  Pet-Finder/node_modules/.bin/esparse
  Pet-Finder/node_modules/.bin/esvalidate
  Pet-Finder/node_modules/.bin/expo
  Pet-Finder/node_modules/.bin/expo-modules-autolinking
  Pet-Finder/node_modules/.bin/glob
  Pet-Finder/node_modules/.bin/image-size
  Pet-Finder/node_modules/.bin/import-local-fixture
  Pet-Finder/node_modules/.bin/is-docker
  Pet-Finder/node_modules/.bin/jest
  Pet-Finder/node_modules/.bin/js-yaml
  Pet-Finder/node_modules/.bin/jscodeshift
  Pet-Finder/node_modules/.bin/jsesc
  Pet-Finder/node_modules/.bin/json5
  Pet-Finder/node_modules/.bin/loose-envify
  Pet-Finder/node_modules/.bin/md5-file
  Pet-Finder/node_modules/.bin/metro
  Pet-Finder/node_modules/.bin/metro-symbolicate
  Pet-Finder/node_modules/.bin/mime
  Pet-Finder/node_modules/.bin/mkdirp
  Pet-Finder/node_modules/.bin/nanoid
  Pet-Finder/node_modules/.bin/node-which
  Pet-Finder/node_modules/.bin/print-chrome-path
  Pet-Finder/node_modules/.bin/qrcode
  Pet-Finder/node_modules/.bin/qrcode-terminal
  Pet-Finder/node_modules/.bin/rc
  Pet-Finder/node_modules/.bin/react-native
  Pet-Finder/node_modules/.bin/regjsparser
  Pet-Finder/node_modules/.bin/resolve
  Pet-Finder/node_modules/.bin/rimraf
  Pet-Finder/node_modules/.bin/semver
  Pet-Finder/node_modules/.bin/sucrase
  Pet-Finder/node_modules/.bin/sucrase-node
  Pet-Finder/node_modules/.bin/terser
  Pet-Finder/node_modules/.bin/tsc
  Pet-Finder/node_modules/.bin/tsserver
  Pet-Finder/node_modules/.bin/ua-parser-js
  Pet-Finder/node_modules/.bin/update-browserslist-db
  Pet-Finder/node_modules/.bin/uuid
  Pet-Finder/node_modules/.bin/webpack
  Pet-Finder/node_modules/.package-lock.json
  Pet-Finder/package.json
  Pet-Finder/reports/mutation/mutation.html
  Pet-Finder/stryker.reportscreen.conf.js
  Pet-Finder/test/ReportScreen.test.tsx
  Pet-Finder/yarn.lock
Labels: User-to-User Interactions Team

#323 270 lecture topic task unit testing remaining map page features
  Pet-Finder/__test__/MapScreen.auto.test.tsx
  Pet-Finder/__test__/MapScreen.functional.test.tsx
  Pet-Finder/__test__/MapScreen2.test.tsx
Labels: Interactive Map Team

#336 UI urgency match
  .expo/devices.json
  Pet-Finder/app/(tabs)/ForgotScreen.tsx
  Pet-Finder/app/(tabs)/HomeScreen.tsx
  Pet-Finder/app/(tabs)/LoginScreen.tsx
  Pet-Finder/app/(tabs)/SignUp.tsx
  Pet-Finder/app/(tabs)/index.tsx
  Pet-Finder/app/(tabs)/profile.tsx
  Pet-Finder/app/(tabs)/reset.tsx
Labels: User Profile / Authentication Team, Completed
